{% extends "layout.html" %}

{% block body -%}
<h1>quickstart</h1>

<div class="home">
  <p>Quickstart is a collection of useful files.</p>

  <p>Browse the files using the list below. <br>
  To download a file, add <code>?dl</code> to the URL.</p>

  <p>You can also use the command line: <br>
  <code class="block">curl qkst.io/readme/readme</code>
  <br class="desktop-only">
  <code class="block">curl -OJ qkst.io/html/basic?dl</code>
  </p>
</div>

<ul class="types">
{% for type in types %}
  <li><a href="/{{ type }}">{{ type }}</a></li>
{% endfor %}
</ul>

{% endblock -%}