<!doctype html>
<html lang="en" dir="ltr">

<head>
<title>quickstart {% if type %}/ {{ type }} {% endif %}</title>
<meta name="description" content="Quickstart provides useful files for your next project.">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
<link rel="stylesheet" href="/static/main.css">
</head>

<body>
{% block body -%}{% endblock -%}

{% block footer -%}
<ul class="footer">
    <li>made by <a href="http://imsky.co">imsky</a></li>
    <li>source on <a href="https://github.com/imsky/quickstart">github</a></li>
    <li>share on <a href="https://twitter.com/intent/tweet?url=https://qkst.io">twitter</a></li>
</ul>
{% endblock -%}

</body>
</html>
