@import url(//fonts.googleapis.com/css?family=Roboto+Mono:400,700);

@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?-eb4b3y');
	src:url('fonts/icomoon.eot?#iefix-eb4b3y') format('embedded-opentype'),
		url('fonts/icomoon.ttf?-eb4b3y') format('truetype'),
		url('fonts/icomoon.woff?-eb4b3y') format('woff'),
		url('fonts/icomoon.svg?-eb4b3y#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

body {
  margin: 100px 0px 0px 100px;
  font-family: Roboto Mono;
  font-size: 24px;
}

a {
  color: #012aff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
  text-decoration: none;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* Icon by Eight Shades */
.icon-download:before {
	content: "\e601";
}

h1 {
  text-transform: uppercase;
  font-size: 1.0em;
  margin-bottom: 3em;
}

h1 .type:before {
  content: '/ ';
}

code {
  font-family: Roboto Mono;
  padding: 0px 5px;
  background: #eee;
}

.home {
  line-height: 1.7em;
  font-size: 0.8em;
  max-width: 768px;
  padding-right: 50px;
  margin-bottom: 3em;
}

ul {
  list-style: none;
  padding: 0;
}

.files li, .types li {
  margin: 2em 0em;
}

.download-link {
  font-size: 0.8em;
  color: #aaa;
  padding: 5px 10px;
  margin-left: -5px;
}

.download-link:hover {
  color: #012aff;
  text-decoration: none;
}

.footer {
  margin-top: 4em;
  overflow: hidden;
  font-size: 0.8em;
}

.footer li {
  float: left;
}

.footer li:not(:first-of-type):before {
  content: '•';
  margin: 0em 1em;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0
}

@media only screen and (max-width: 768px) {
  body {
    margin: 40px 0px 0px 40px;
    font-size: 20px;
  }

  .home {
    padding-right: 40px;
  }

  h1 .type:before {
    content: '';
  }

  h1 .type {
    display: block;
  }

  code.block {
    display: block;
    margin: 5px 0px;
  }

  .footer li {
    float: none;
  }

  .footer li:not(:first-of-type):before {
    margin: 0;
    content: '';
  }

  .desktop-only {
    display: none;
  }
}